<%- @pan1="管理者設定" -%><%- @pan2='mixiアプリ' -%><%- @pan3="作成確認" -%>

<% content_for(:header_title) do %>
	mixiアプリ作成確認
<% end %>

<h3>mixiアプリ作成確認</h3>

<% form_for @mixi_app, :url => {:action => 'create'} do |f| %>
	<%= f.hidden_field 'name'  %>
	<%= f.hidden_field 'key'  %>
	
	<table border="0" cellpadding="3" cellspacing="1" class="lineColorLW" style="width:609px;">
	<tbody>
		<tr>
			<th style="width:140px;">
				<label for="base_mail_temlate_subject"><%= t('activerecord.attributes.base_mail_template.subject') %></label>
			</th>
			<td>
				<%= h @mixi_app.name %>
			</td>
		</tr>
		<tr>
			<th style="width:140px;">
				<label for="base_mail_temlate_subject"><%= t('activerecord.attributes.base_mail_template.subject') %></label>
			</th>
			<td>
				<%= h @mixi_app.key %>
			</td>
		</tr>
	</tbody>
	</table>
	
	<div class="bot_btn">
		<%= mng_submit_tag "作成" %>
		<%= mng_cancel_tag %>
	</div>
<% end %>
