<%- @pan1="管理者設定" -%><%- @pan2='mixiアプリ' -%><%- @pan3="一覧" -%>

<% content_for(:header_title) do %>
	mixiアプリ一覧
<% end %>

<% if @mixi_apps.size.zero? %>
	mixiアプリがありません。
<% else %>
	<%= paginate_header(@mixi_apps) %>
	<table class="lineColorT" style="width:609px;">
	  <tr>
		<th style="width:309px;"><%= t('activerecord.attributes.base_notice.title') %></th>
	    <th style="width:309px;"><%= t('activerecord.attributes.base_notice.title') %></th>
	    <th style="width:150px;"><%= t('activerecord.attributes.base_notice.start_datetime') %></th>
	  </tr>
  
	<% for mixi_app in @mixi_apps %>
	  <tr>
	    <td><%= link_to mixi_app.name, manage_mixi_app_path(mixi_app) %></td>
		<td><%=h mixi_app.key %></td>
	    <td><%= datetime_to_s(mixi_app.updated_at) %></td>
	  </tr>
	<% end %>
	</table>
	<%= paginate_links(@mixi_apps) %>
<% end %>

