<%- @pan1='mixiアプリ' -%><%- @pan2="アクティブ利用ユーザ履歴" -%>

<% content_for(:header_title) do %>
	アクティブ利用ユーザ履歴
<% end %>

<%= render :partial => 'search_form' %>

<br/>
<br/>
<h3>アクティブ利用ユーザ履歴</h3>

<% if @mixi_active_histories.size.zero? %>
	履歴がありません。
<% else %>
	<%= paginate_header(@mixi_active_histories) %>
	
	<p>
		<% hash2sorted_array(MixiActiveHistory::BEFORE_DAYS_LIST).each do |history_days| %>
			<%= link_to "#{history_days[1]}", :action => :index, :id => history_days[0] %>
			<% if hash2sorted_array(MixiActiveHistory::BEFORE_DAYS_LIST).last[0] != history_days[0] %>&nbsp;|&nbsp;<% end %>
		<% end %>
	</p>
	
	<table class="lineColorT" style="width:609px;">
		<tr>
			<th>日付</th>
			<th>アクティブユーザ数</th>
		</tr>
	  <% @mixi_active_histories.each do |mixi_active_histories| %>
		<tr>
			<td><%=h mixi_active_histories.history_day %></td>
		    <td><%=h mixi_active_histories.user_count %></td>
		</tr>
	  <% end %>
	</table>
	
	<%= paginate_links(@mixi_active_histories) %>
<% end %>