<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<HTML lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<%= javascript_include_tag :defaults %>
	<%= javascript_include_tag 'mixi/jquery.cookie.js' %>

	<script type="text/javascript">
		$(function(){
			$.cookie("drecom_mixiapp_conversion", "<%= "#{@unique_key}" %>",{ expires: <%= AppResources[:mixi][:inflow_cookie_limit] %>, path: '/', domain: <%= AppResources[:mixi][:inflow_cookie_domain] %>});
			location.href = "<%= @next_url %>"
		});
		
	</script>
	
</head>

<BODY>
しばらくおまちください。
</BODY>
</HTML>
