<div id="left02">
  <div class="sideWrap">
    <h4><p>mixiアプリ</p></h4>
    <div class="sideMenu">
      <ul>
		<li><%= link_to "ユーザ統計", manage_mixi_users_path %></li>
        <li><%= link_to "アクティブ率", manage_mixi_active_histories_path %></li>
		<li><%= link_to "#{t('view.noun.mixi_inflow_summary')}", manage_mixi_inflow_summaries_path %></li>
		<li><%= link_to "#{t('view.noun.mixi_inflow_master')}", manage_mixi_inflow_masters_path %></li>
		<li><%= link_to "#{t('view.noun.mixi_app_invite_summary')}", manage_mixi_app_invite_summaries_path %></li>
      </ul>
    </div>
	
	</div>
</div><!-- /left02 -->