<![CDATA[

	<%= javascript_include_tag :defaults %>
	<%= javascript_include_tag "mixi/jquery.opensocial_simple" %>
  <%= javascript_include_tag "mixi/jsdeferred.mini.js" %>
	<%= javascript_include_tag "mixi/jquery.drecom_mixi_gadget" %>
	<%= javascript_include_tag "mixi/jquery.history.js" %>
	<%= javascript_include_tag "mixi/jquery.cookie.js" %>
	<%= javascript_include_tag "jquery.validate.js" %>
	<%= javascript_include_tag "messages_ja.js" %>
	<%= javascript_include_tag "jquery.bgiframe.min.js" %>
	<%= javascript_include_tag "iepngfix.js" %>
	
	<%= javascript_include_tag("mixi/canvas.js") %>

	<script type="text/javascript">
	
	var base_url = '<%= "#{request.protocol}#{request.host}:#{request.port}" %>';
	$('#gadget_container').drecom_mixi_gadget({base_url: base_url,
											   owner_only: true,
											   app_name: '<%= AppResources[:init][:service_name] %>',
	                                           view_name: 'canvas'});

	document.write('<link rel="stylesheet" type="text/css" href="' + base_url + '/stylesheets/style.css">');
	
	/*
	$(function(){
		new function () {
		    if (opensocial.getEnvironment().getDomain() !== 'osde') return;
		    gadgets.views.requestNavigateTo = function (view, param) {
		        var href = window.parent.location.href;
		        param = gadgets.json.stringify(param).replace(/^\{|\}$/g, '');
		        param = escape(param);
		        var next = href
		            .replace(/(&|\?)view=\w+/, '$1view='+view.getName())
		            .replace(/(&|\?)appParams=\{.+?\}/, '$1appParams={'+param+'}')
		        ;
		
		        window.parent.location.href = next;
		    };
		};
	});
*/

	$(function(){
		var value = gadgets.views.getParams();
		if(value['pagename'] == null) {
			$.opensocial_simple.postViewerData({'drecom_mixiapp_history' : null}, function () { 
				//console.log(arguments) 
			});
		}
		
		function pageload(hash) {
			//alert("pageload: " + hash);
			if(hash) {
				if(hash.search(/<%= AppResources[:mixi][:portal_token_reqular] %>/) == -1) {
					$.drecom_mixi_gadget.requestContainer(hash);
				} else {
					$.drecom_mixi_gadget.requestContainer("/mixi_gadget/top");
				}
			} else {
				// start page
				$("#gadget_history").empty();
			}
		}

    $.drecom_mixi_gadget.historyInit = function() {
      $.opensocial_simple.getViewerData(function (data) { 
        if(data["drecom_mixiapp_history"] != null) {
          url = data["drecom_mixiapp_history"];
        } else {
          url = "/mixi_gadget/top";
        }
        $.opensocial_simple.getPerson(function (result) {
          $.historyInit(pageload, url + "?viewer=" + result.VIEWER.getId());
        });
      });
    };

	});
	
	</script>
	
  <div id="gadget_container_seq" style="display:none;"></div>
	<div id="gadget_container"></div>
	<div id="gadget_iframe"></div>
	<div id="infollow_iframe"></div>
]]>