<![CDATA[

	<%= javascript_include_tag :defaults %>
	<%= javascript_include_tag "jquery.opensocial_simple" %>
	<%= javascript_include_tag "mixi/jquery.drecom_mixi_gadget" %>
	
	<%= javascript_include_tag("canvas.js") %>

	<script type="text/javascript">
	
	var base_url = '<%= "#{request.protocol}#{request.host}:#{request.port}" %>';
	$('#gadget_container').drecom_mixi_gadget({base_url: base_url,
	                                           session_id: '<%= request.session_options[:id] %>',
	                                           session_key: '<%= request.session_options[:key] %>',
	                                           view_name: 'canvas'});

	document.write('<link rel="stylesheet" type="text/css" href="' + base_url + '/stylesheets/style.css">');

	$(function(){
		var value = gadgets.views.getParams();
		if(value['pagename'] == null) {
			$.opensocial_simple.postViewerData({'drecom_mixiapp_history' : null}, function () { 
				//console.log(arguments) 
			});
		}
	});
	
	</script>
	
	<div id="gadget_container"></div>
]]>