<div id="tabs">
<ul>
	<li><a href="#baton_top">TOP</a></li>
	<li><%= link_to_update "バトンを作成", :url => '/batons/new' %></li>
	<li><%= link_to_update "バトンを答える/まわす", :url => '/batons/answer' %></li>
	<li><%= link_to_update "相性を見る", :url => '/batons/affinity' %></li>
	<li><%= link_to_update "統計", :url => '/batons/figures' %></li>
</ul>

<div id="baton_top">
	<h3 class="titlebar">作成したバトン</h3>
	
	<table>
		<tbody id="create_baton_list">
			<% @batons.each do |baton|%>
				<tr>
					<td><%= baton.title %></td>
				</tr>
			<% end %>
		<tdoby>
	</table>
	
</div>


</div>