<%= render :partial => 'common/baton_menu', :locals => {:tab_menu => "top"} %>

<script type="text/javascript">
	$(function(){
		$.drecom_mixi_gadget.setSession('<%= request.session_options[:id] %>','<%= request.session_options[:key] %>');
		
		$(".show_user_dialog").live('click',　function() {
			var user_id = $(this).attr("id").replace("user_", "");
		  $("#dialog_" + user_id).dialog({
				bgiframe: true,
				height: 450,
				width: 410,
				modal: true,
				close: function(){$(this).parents(".ui-dialog").remove()}
			});
		});
		
	});
</script>

<p id="hogeaa">ほげ（ここにスクロール）</p>
<div id="container_<%= en_color(@baton_color) %>"><div id="container_top"></div>
	<h2 id="news">バトンニュース</h2>
	<div class="boxTop"></div>
	<div class="boxMiddle">
		<% if @activities.size.zero? %>
			ニュースはありません。
		<% else %>
		<ul class="newFeedinline">
			<% @activities.each do |activity| %>
				<li><%= activity.body %></li>
			<% end %>
	  	</ul>
	  	<div class="more"><%= link_to_update "続きを見る", :url => "/batons/activities?baton_color=#{@baton_color}" %></div>
		<% end %>
	</div>
	<div class="boxBottom">&nbsp;</div>


  <h2 id="new">新着バトン</h2>
  <div class="boxTop"></div>
  <div class="boxMiddle">
    <ul class="newFeed">
		<% @batons.each do |baton| %>
			<li><%= link_to_update "#{h(baton.title)}#{baton_answer(baton)}<br/>from #{baton.mixi_user.nickname} ...#{l(baton.created_at.to_date, :format => :long)}", :url => "/batons/answer/#{baton.id}?baton_color=#{@baton_color}" %></li>
		<% end %>
    </ul>
    <div class="more"><%= link_to_update "続きを見る", :url => "/batons/create_list?baton_color=#{@baton_color}" %></div>
  </div>
  <div class="boxBottom"></div>
  
  <h2 id="friend_baton">最近友達が答えたバトン</h2>
  <div class="boxTop"></div>
  <div class="boxMiddle">
	<% if @friends.size.zero? %>
		まだマイミクはバトンに答えてません…<br/>
		バトンをどんどんマイミクにまわしましょう♪
	<% else %>
		<ul class="newAnswers">
		<% @friends.each do |friend| %>
			<li>
			<ul>
				<li class="face">
					<a href="#" id="user_<%= friend.id %>" class="show_user_dialog" title="">
						<img src="<%= friend.thumbnail_url %>" width="70" />
						<div class="compatibility"><%=h @mixi_user.affinity(@baton_color, friend).affinity %></div>
					</a>
					<br/><br/><br/>
					<a href="#" id="user_<%= friend.id %>" class="show_user_dialog" title="">
						<%=h friend.nickname %>
					</a>
				</li>
				<% friend.recent_answer_baton(4).each do |baton|%>
					<li class="right"><%= link_to_update h(baton.title), :url => "/batons/answered/#{baton.id}?mixi_user_id=#{friend.id}&baton_color=#{@baton_color}" %></li>
				<% end %>
			</ul>
			</li>
		
		<div id="dialog_<%= friend.id %>" title="" style="display:none" class="popup">
			<img src="<%= friend.thumbnail_url %>" alt="" class="photo" height="70" />
			<div class="name"><%=h friend.nickname %></div>
			<div class="info">
				
			</div>

			<h3>答えたバトン一覧</h3>
			<ul>
				<% friend.recent_answer_baton(10).each do |baton|%>
			  		<li class="right"><%= link_to_update h(baton.title), :url => "/batons/answered/#{baton.id}?mixi_user_id=#{friend.id}&baton_color=#{@baton_color}" %></li>
			<% end %>
			</ul>
		</div>
		<% end %>
		</ul>
		<div class="more"><%= link_to_update "続きを見る", :url => "/batons/recent_friend_answers?baton_color=#{@baton_color}" %></div>
    <% end %>
  </div>
  <div class="boxBottom"></div>
<div id="container_bottom"></div></div><!-- container -->
<p><a href="#" id="hoge" onclick="javascript:$.drecom_mixi_gadget.scrollTo('hogeaa');">ほげにスクロール</a></p>